body {
    font-family: "Lucida Grande";
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* header */
header {
  height: 65px;
  width: 100%;
  background-color: #568ea6;
  position: fixed;
  top: 0;
  z-index: 10;
  opacity: 0.9;
}
.header-logo {
  float: left;
  line-height: center;
  padding: 10px;
  padding-left: 40px;
  font-size: 30px;
  color: #fff;
}
.header-right1 {
  float: right;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.5s;
  margin-right: 20px;
}
.header-right2 {
  float: right;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.5s;
  margin-right: 12px;
}
.header-right1:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.header-right2:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.header-right1 a {

  display: block;
  padding-right: 15px;
  padding-left: 15px;
  line-height: 65px;
  color: white;
}
.header-right2 a {
  display: block;
  padding-right: 15px;
  padding-left: 15px;
  line-height: 65px;
  color: white;
}

/* main CSS */
.container {
    max-width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.main {
    padding: 180px 0 100px 0;
    background-image: url(gambar.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-weight: bold;
    text-align: center;
}

.main h1 {
    opacity: 0.7;
    font-size: 45px;
    letter-spacing: 5px;
    margin-bottom: 10px;
}

.main h1 {
    opacity: 0.7;
    font-size: 35px;
    letter-spacing: 5px;
    margin-bottom: 10px;
}
  
.main p {
    opacity: 0.7;
    margin-bottom: 3px;
    font-size: 20px;
}

.btn-wrapper {
    text-align: center;
    margin: 20px 0;
}
  
.btn-wrapper p {
    margin: 10px 0;
}
  
.signup {
    background-color:tomato;
}
  
.facebook {
    background-color: #1c2cbb;
    margin-right: 10px;
}
  
.twitter {
    background-color: #55acee;
}
  
.btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
    text-align: center;
}
  
.btn:hover {
    opacity: 1;
}
  
.fa {
    margin-right: 5px;
}

/* body */
.lesson-wrapper {
    padding-bottom: 80px;
    background-color: #f7f7f7;
    text-align: center;
}
.heading {
    padding-top: 60px;
    padding-bottom: 30px;
    color: #5f5d60;
}
.btn-wrapper {
    margin: 20px 0;
}
.submit {
    background-color: #239b76;
}
.btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
}
.btn:hover {
    opacity: 1;
}
.heading h2 {
    font-weight: normal;
}
.lesson {
    float: left;
    width: 25%;
}
.lesson-icon p {
    margin-top:20px;
    font-weight:bold;
    top: 90px;
    width: 100%;
    color: #464660;
}
.txt-contents {
    width:80%;
    display:inline-block;
    margin-top:20px;
    font-size:15px;
    color:#B4B897;
}

/* Footer CSS*/
footer {
    opacity: 0.9;
    margin-top: 75px;
    margin-bottom: 15px;
}
.footer-logo {
    float: left;
    font-size: 30px;
    margin-top: 50px;
    letter-spacing: 7px;
    margin-bottom: 10px;
}
/* responsive */

* {
    box-sizing: border-box;
}

.clear {
    clear: left;
}
